/* includes all global styles from the cdc-react component library */
@import url("@us-gov-cdc/cdc-react/dist/style.css");

*,
html,
body {
  margin: 0;
}

.dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  .right {
    background-color: #f5f5f5;
    .main_content {
      padding: 0 1rem;
      gap: 2.4rem;
    }
    .box {
      height: 17.93rem;
      padding: 0rem 2rem;
      background-color: white;
      border-radius: 0.4rem;
      background: var(--system-gray-white, #fff);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1.2rem;
    }
    .dex-logo {
      margin-left: 0.75rem;
    }
  }

  .submissions_page {
    height: 100%;
    .cdc-react.table tbody {
      width: 100%;
      background: #ffffff;
    }
    .checkbox-row.width-10 {
      max-width: 7rem;
      text-align: center;
    }
    .cdc-react.checkbox-container .checkbox-content {
      display: none;
    }
    .details-row.width-10 {
      max-width: 7rem;
      text-align: center;
    }
  }

  .left {
    .cdc-react {
      .sidebar,
      .sidebar-wrap {
        background: none;
      }
    }
    background: linear-gradient(225deg, #005eaa 0%, #26418f 100%);
  }
}
.cdc-page-header {
  font-size: 1.6rem;
}
