.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.wrapper section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-section {
  background: linear-gradient(225deg, #005EAA 0%, #26418F 100%);
}

.logo-section-divider {
  opacity: 0.25;
  margin: 4rem 0;
}

.rightside-divider {
  margin: 4rem 0;
  width: 28rem;
}

.btn-padding-lr {
  padding-left: 1rem;
  padding-right: 1rem;
}

.welcome-logo svg {
  width: 4.5rem;
  margin-left: 0.5rem;
  margin-bottom: -0.3rem;
}

.welcome-bottom-text {
  margin-top: -1rem;
  display: block;
}

.already-sams-user-header {
  width: 13rem;
  text-align: center;
  margin-top: 0rem;
}

.new-to-dex-header {
  margin-top: 0rem;
}