@import "styles/_shared.scss";

#root {
  height: 100%;
}

.cdc-react .dropdown-items {
  overflow: scroll;
}

.cdc-react .sort-arrows {
  margin-left: 5px;
  margin-right: 5px;
}

.cdc-react .header-button {
  background: none;
  border: none;
  flex-grow: 2;
  font-weight: bold;
  font-size: 0.825rem;
}
