@import "styles/_shared.scss";

#root {
  height: 100%;
}

.cdc-react .dropdown-items {
  overflow: scroll;
}

.cdc-react .sort-arrows {
  margin-left: 5px; /* Hack until we replace the sort icons */
  margin-right: 5px; /* Hack until we replace the sort icons */
}
