@import url("@us-gov-cdc/cdc-react/dist/style.css");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.logo {
  width: 7rem;
  height: 2.7rem;
}