@import url("@us-gov-cdc/cdc-react/dist/style.css");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.logo {
  background-image: url("./assets/logo.svg");
  width: 118px;
  height: 46px;
}

.logo * {
  visibility: hidden;
}

.logo-small {
  background-image: url("./assets/logo_small.svg");
}
